/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #e6e3e3;
  --color-grey-light-4: #ccc;
  --color-grey-dark-3: #333;
  --color-grey-dark-2: rgb(100, 94, 94);
  --color-grey-dark-1: #999;
  --shadow-dark: 0 3rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.2);
  --line: 1px solid var(--color-grey-light-3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'open-Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  height: 7rem;
  border-bottom: var(--line);
  background-color: #ffff;
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 10rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.side-nav {
  background-color: var(--color-grey-dark-3);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  word-spacing: .08rem;
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-dark-2);
  flex: 1; }

.details {
  padding: 4.5rem;
  display: flex;
  background-color: var(--color-grey-light-1);
  border: var(--line);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column;
      justify-content: center; } }

.discription {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .discription {
      padding: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .discription {
      margin: 0;
      margin-bottom: 3.5rem; } }

.user-reviews {
  background-color: var(--color-grey-light-1);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch; }

.cta {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--color-grey-dark-2); }

.logo {
  height: 3.25rem;
  margin-left: 1rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      background-color: var(--color-grey-light-2);
      flex: 0 0 100%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #adabab; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    background-color: var(--color-grey-light-2);
    border: none;
    display: flex;
    align-items: center; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
  color: var(--color-grey-dark-2); }
  .user-nav > * {
    padding: 0 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    color: white;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: absolute;
    top: 2rem;
    right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin: 0 .5rem; }

.side-nav__list {
  margin-top: 3.5rem;
  list-style: none;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav__list {
      display: flex;
      margin-top: 0; } }

.side-nav__item {
  position: relative; }
  .side-nav__item:not(:last-child) {
    margin-bottom: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item:not(:last-child) {
        margin-bottom: 0; } }
  @media only screen and (max-width: 56.25em) {
    .side-nav__item {
      flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }

.side-nav__link:link, .side-nav__link:visited {
  text-decoration: none;
  color: var(--color-grey-light-1);
  display: block;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .side-nav__link:link, .side-nav__link:visited {
      flex-direction: column;
      padding: .5rem 2rem; } }

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor; }
  @media only screen and (max-width: 56.25em) {
    .side-nav__icon {
      margin-right: 0; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-1); }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  background-color: white;
  flex-wrap: wrap; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.8rem 1rem 1.2rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        letter-spacing: .5px;
        padding: 1.5rem .5rem 1rem 1.5rem;
        margin-right: auto; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
    @media only screen and (max-width: 31.25em) {
      .overview__stars {
        order: 1;
        margin-left: 3rem;
        margin-bottom: .5rem; } }
  .overview__icon-star, .overview__icon-location {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    color: white;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
    .overview__rating-average {
      font-size: 2.25rem;
      font-weight: 300; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-average {
          font-size: 1.8rem; } }
    .overview__rating-count {
      margin-top: -5px;
      font-size: .8rem;
      text-transform: uppercase; }

.btn {
  border: none;
  padding: 1rem 3rem;
  border-radius: 10rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: white;
  width: 18rem;
  height: 4rem;
  font-size: 1.5rem;
  position: relative; }
  .btn .btn--book-now {
    position: absolute;
    left: 6rem;
    top: -2rem;
    opacity: 0;
    transition: all .3s; }
  .btn .btn--rooms-left {
    position: absolute;
    left: 3.8rem;
    top: 1rem;
    opacity: 1;
    transition: all .3s; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
    .btn:hover .btn--book-now {
      position: absolute;
      left: 6rem;
      top: 1rem;
      opacity: 1; }
    .btn:hover .btn--rooms-left {
      position: absolute;
      left: 3.8rem;
      top: 3rem;
      opacity: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  transition: all .2s;
  font-weight: 600;
  padding-bottom: .5rem; }
  .btn-inline span {
    margin-left: .5rem;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:hover span {
    margin-left: 1.2rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
  line-height: 2.5rem; }

.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover; }

.recommand {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommand__count {
    margin-right: auto; }
  .recommand__friends {
    display: flex; }
  .recommand__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white; }
    .recommand__photo:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 3.5rem;
  box-shadow: var(--shadow-light);
  border-radius: 4px;
  position: relative;
  overflow: hidden; }
  .review__text {
    z-index: 10; }
  .review__user {
    display: flex;
    align-items: center;
    padding: 1.5rem; }
  .review__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
  .review__user-box {
    margin-right: auto;
    margin-left: 1.5rem; }
  .review__user-name {
    font-weight: 700;
    font-size: 1.4rem; }
  .review__user-date {
    font-size: 1.2rem;
    color: var(--color-grey-dark-2); }
  .review__rating {
    font-size: 2rem;
    color: var(--color-grey-dark-2);
    font-weight: 700; }
  .review::before {
    content: "\201C";
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -8rem;
    left: -.5rem;
    font-size: 18rem; }

.cta__book-now {
  font-weight: 100;
  font-size: 1.7rem; }
