.container {
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

        @media only screen and (max-width: $bp-largest) {
            margin: 0;
            max-width: 100%; 
            width: 100%;
        }

}  
    
.header { 
    height: 7rem;   
    border-bottom: var(--line); 
    background-color: #ffff; 
    display: flex;
    font-size: 1.4rem; //made change for placeholder
    justify-content: space-between;
    align-items: center;  
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap; 
        align-content: space-around; 
        height: 10rem; 
    }
}    
    
.content { 
    display: flex;  
    @media only screen and (max-width: $bp-medium) {
       flex-direction: column;
    }

}  
  
.side-nav {   
    background-color: var(--color-grey-dark-3);
        flex: 0 0 18%;  
    display: flex;  
    flex-direction: column;
    
    justify-content: space-between;

    
   // height: 100%;       
}

.hotel-view {
    word-spacing: .08rem;     
    background-color: var(--color-grey-light-3); 
    color: var(--color-grey-dark-2);   
    flex: 1;   
} 

.details {   
    padding: 4.5rem; 
    display: flex;
    background-color: var(--color-grey-light-1);
    border:  var(--line);
    font-size: 1.4rem; 

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
      } 

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        justify-content: center;
    }
}

.discription {
    background-color: #fff;
    box-shadow: var(--shadow-light);  
    padding: 3rem; 
    flex: 0 0 60%;
    margin-right: 4.5rem;
    font-size: 1.4rem; 
    @media only screen and (max-width: $bp-medium) { padding:1.5rem} 
    @media only screen and (max-width: $bp-small) {
        margin: 0;  
        margin-bottom: 3.5rem; }
}

.user-reviews {
    background-color: var(--color-grey-light-1); 
    flex: 1;
    display: flex; 
    flex-direction: column;
    align-items: center;   
    justify-content: stretch;

}

.cta {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    color: var(--color-grey-dark-2);
      
}